/* boleh gunakan color pallete */

*{
    margin: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: rgb(244,212,230);
    background: radial-gradient(circle, rgba(242,208,226,1) 0%, rgba(217,219,236,1) 100%);
    
}

#navigation-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: white;
    box-shadow: rgb(104, 104, 104) 0px 4px 6px -1px;
    margin-bottom: 10px;
}

#logo{
    height: 50px;
    padding-left: 10px;
    margin: 4px 4px 4px 4px;
    /* supaya logo ke paling atas */
    background-color: white;
    cursor: pointer;
}

#navigation{
    display: flex;

}

/* meaning a is subclass of id navigation */
/* a is a tag for hyperlink*/
#navigation>a{
    text-decoration: none;
    /* hapusin underline */
    padding-right: 15px;
    background-color: white;
}

/* hover adalah salah satu contoh pseudoclass */
#navigation>a:hover{
    color: rgb(0, 7, 202);
}

.input-output{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input-section{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.input-field{
    outline: none;
    /* hapusin outline pas klik */
    border-radius: 8px;
    border: solid rgb(71, 79, 122);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    /* padding supaya input lebih legah */
    width: 30vw;
    height: 80px;
}

/* focus -> pas di klik */
.input-field:focus{
    border: solid rgb(0, 79, 182);
}

.button-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.my-button{
    background-color: #968575;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 8px 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
}

.my-button:hover{
    background-color: #c8b29c;
}

/* active ketika dipencet */
.my-button:active{
    background-color: #c8b29c;
    transform: translateY(4px);
    /* transform untuk translate */
    /* ketika diklik, button akan turun sedikit */
}

.sub{
    vertical-align: sub;
}

.italic{
    font-style: italic;
}

.rumus{
    font-size: 30px;
    
    
}

#line{
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid rgb(229, 59, 59);
}

.calculate-area{
    display: flex;
    justify-content: center;
}

.rumus-box{
    width: 60vw;
    height: 350px;
    border: 3px solid rgb(229, 59, 59);
    margin: 8px 8px 100px 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 50px;
}

.rumus-area{
    display: flex;
    justify-content: center;
}

.rumus{
    text-align: center;
    color: #2d2d2d;
}

#judul-rumus{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    color: #2d2d2d;
    text-align: center;
}

.text{
    margin: 20px 30px 20px 30px;
    font-size: 20px;
    text-align: center;
    color: #2d2d2d;
}

.footer-area{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    border-top: rgb(71, 79, 122) 3px solid;
}

#page-title{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;

}

.instruction-text{
    color: rgb(71, 79, 122);
    text-align: center;
    
    margin-bottom: 10px;

}